{% load static %}
<div class="categories-pop">
    <div class="logmod">
        <div class='confirm-modal'>
            <div class='confirm-title'>
                Choose from below Categories
            </div>
            <p>
                <a class="btn btn--primary" href="#0">Category</a>
                <a class="btn btn--primary" href="#0">Category</a>
                <a class="btn btn--primary" href="#0">Category</a>
                <a class="btn btn--primary" href="#0">Category</a>
                <a class="btn btn--primary" href="#0">Category</a>
                <a class="btn btn--primary" href="#0">Category</a>
            </p>
            <div class='confirm-action'>
                <a class="btn btn--red" href="#0">Close</a>
            </div>
            <div class='loader-bar'>
                <div class='bar'></div>
            </div>
        </div>
    </div>
</div>