{% load static %}
<div class="confirm-pop">
    <div class="logmod">
        <div class='modal'>
            <div class='confirm-title'>
                Are you sure?
            </div>
            <div class='confirm-content'>
                Your content is not have been saved..
            </div>
            <div class='confirm-action'>
                <a class="btn btn--red" href="#0">Cancel</a>
                <a class="btn btn--primary" href="#0">Proceed</a>
            </div>
            <div class='loader-bar'>
                <div class='bar'></div>
            </div>
        </div>
    </div>
</div>