{% load static %}
<div class="s-studio">
    <div class="pageheader-content row">
        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                Our Studio
            </h1>
            <p>
                We photograph from the little of grass to the mightest of the Space! Here is the sneak peak in to the
                world through the lens! We hope these inspire you for the days to come! Our complete <a
                    href="{% url 'studio' %}">Our Portfolio</a>
            </p>
        </div>
    </div>
    <div class="owl-carousel owl-theme">
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry"
                        style="background-image:url('{% static 'studio/media/images/hero_bg_1.jpg' %}');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">Music</a></span>

                            <h1><a href="#0" title="">What Your Music Preference Says About You and Your
                                    Personality.</a></h1>

                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

            </div> <!-- end featured -->

        </div> <!-- end col-full unsplash-->
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry"
                        style="background-image:url('{% static 'studio/media/images/hero_bg_2.jpg' %}');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">Music</a></span>

                            <h1><a href="#0" title="">What Your Music Preference Says About You and Your
                                    Personality.</a></h1>

                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

            </div> <!-- end featured -->

        </div> <!-- end col-full unsplash-->
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry"
                        style="background-image:url('{% static 'studio/media/images/hero_bg_3.jpg' %}');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">Music</a></span>

                            <h1><a href="#0" title="">What Your Music Preference Says About You and Your
                                    Personality.</a></h1>

                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

            </div> <!-- end featured -->

        </div> <!-- end col-full unsplash-->
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry" style="background-image:url('{% static 'studio/media/images/img_7.jpg' %}');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">Music</a></span>

                            <h1><a href="#0" title="">What Your Music Preference Says About You and Your
                                    Personality.</a></h1>

                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

            </div> <!-- end featured -->

        </div> <!-- end col-full travels-->
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry" style="background-image:url('{% static 'studio/media/images/img_2.jpg' %}');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">Music</a></span>

                            <h1><a href="#0" title="">What Your Music Preference Says About You and Your
                                    Personality.</a></h1>

                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

            </div> <!-- end featured -->

        </div> <!-- end col-full unsplash-->
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry" style="background-image:url('{% static 'studio/media/images/img_4.jpg' %}');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">Music</a></span>

                            <h1><a href="#0" title="">What Your Music Preference Says About You and Your
                                    Personality.</a></h1>

                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

            </div> <!-- end featured -->

        </div> <!-- end col-full unsplash-->
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry" style="background-image:url('{% static 'studio/media/images/img_6.jpg' %}');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">Music</a></span>

                            <h1><a href="#0" title="">What Your Music Preference Says About You and Your
                                    Personality.</a></h1>

                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

            </div> <!-- end featured -->

        </div> <!-- end col-full unsplash-->
    </div>
</div>