{% load static %}
<div class="s-studio">
    <div class="pageheader-content row">
        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                Our Studio
            </h1>
        </div>
    </div>
    <div class="owl-carousel owl-theme">
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry"
                        style="background-image:url('{% static 'home/media/images/thumbs/featured/featured-guitarman.jpg' %}');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">Music</a></span>

                            <h1><a href="#0" title="">What Your Music Preference Says About You and Your
                                    Personality.</a></h1>

                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

            </div> <!-- end featured -->

        </div> <!-- end col-full snaps-->
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry"
                        style="background-image:url('{% static 'home/media/images/thumbs/featured/featured-guitarman.jpg' %}');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">Music</a></span>

                            <h1><a href="#0" title="">What Your Music Preference Says About You and Your
                                    Personality.</a></h1>

                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

            </div> <!-- end featured -->

        </div> <!-- end col-full travels-->
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry"
                        style="background-image:url('{% static 'home/media/images/thumbs/featured/featured-guitarman.jpg' %}');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">Music</a></span>

                            <h1><a href="#0" title="">What Your Music Preference Says About You and Your
                                    Personality.</a></h1>

                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

            </div> <!-- end featured -->

        </div> <!-- end col-full memories-->
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry"
                        style="background-image:url('{% static 'home/media/images/thumbs/featured/featured-guitarman.jpg' %}');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">Music</a></span>

                            <h1><a href="#0" title="">What Your Music Preference Says About You and Your
                                    Personality.</a></h1>

                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

            </div> <!-- end featured -->

        </div> <!-- end col-full unsplash-->
    </div>
</div>