{% load static %}
<div class="s-studio">
    <div class="pageheader-content row">
        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                Our Studio
            </h1>
            <p>
                We photograph from the little of grass to the mightest of the Space! Here is the sneak peak in to the
                world through the lens! We hope these inspire you for the days to come! Our complete <a
                    href="{% url 'studio' %}">Our Portfolio</a>
            </p>
        </div>
    </div>
    <div class="owl-carousel owl-theme">
        <div class="col-full">
            <div class="slide-container">
                <div class="slide-gallery-wrap">
                    <div class="slide-item" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_1.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Fall </a><a href="#0">#Forest </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                    <div class="slide-item" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_2.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Coral </a><a href="#0">#Fish </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                    <div class="slide-item slide-active" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_5.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Photography </a><a href="#0">#Nikon </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                    <div class="slide-item" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_3.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Adventure </a><a href="#0">#Diving </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                    <div class="slide-item" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_4.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Vacation </a><a href="#0">#Beach </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                    <div class="slide-item" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_6.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Antique </a><a href="#0">#Car </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                    <div class="slide-item" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_7.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Ocean </a><a href="#0">#Padling </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                    <div class="slide-item" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_8.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Terrain </a><a href="#0">#Mountains </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                </div>
                <div class="more" align="right"><a href="#">MORE</a></div>
            </div>

        </div>
        <div class="col-full">
            <div class="slide-container">
                <div class="slide-gallery-wrap">
                    <div class="slide-item" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_2.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Coral </a><a href="#0">#Fish </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                    <div class="slide-item" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_5.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Photography </a><a href="#0">#Nikon </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                    <div class="slide-item slide-active" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_3.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Adventure </a><a href="#0">#Diving </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                    <div class="slide-item" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_6.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Antique </a><a href="#0">#Car </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                    <div class="slide-item" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_7.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Ocean </a><a href="#0">#Padling </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                    <div class="slide-item" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_8.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Terrain </a><a href="#0">#Mountains </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                </div>
                <div class="more" align="right"><a href="#">MORE</a></div>
            </div>
        </div>
        <div class="col-full">
            <div class="slide-container">
                <div class="slide-gallery-wrap">
                    <div class="slide-item" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_5.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Photography </a><a href="#0">#Nikon </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                    <div class="slide-item" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_3.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Adventure </a><a href="#0">#Diving </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                    <div class="slide-item slide-active" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_4.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Vacation </a><a href="#0">#Beach </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                    <div class="slide-item" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_6.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Antique </a><a href="#0">#Car </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                    <div class="slide-item" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_7.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Ocean </a><a href="#0">#Padling </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                    <div class="slide-item" style="background-image:url('{% static 'studio/media/images/big-images/nature_big_8.jpg' %}');">
                        <div class="studio-entry__meta">
                            <span class="entry__meta-camera">&#128247; </span>
                            <span class="entry__meta-name"><a href="#0">Venkata Rakesh Anne </a></span>
                            <span class="entry__meta-tags"><a href="#0">#Terrain </a><a href="#0">#Mountains </a></span>
                            <span class="slide-date"> Dec 27, 2017</span>
                        </div>
                    </div>
                </div>
                <div class="more" align="right"><a href="#">MORE</a></div>
            </div>
        </div>
    </div>
</div>