{% load static %}
<div class="s-social">
    <div class="pageheader-content row">
        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                Social
            </h1>
            <p>
                We live in a time that we get to use social media as a tool. It's not just a face on a piece of paper, and that's what makes you inspire someone out there! We can have a very similar sense of humor as someone, or matching interests, or our personal style, off the runway, is why we're luchy! Our <a href="{% url 'social' %}">Social</a> presence.
            </p>
        </div>
    </div>
    <div class="owl-carousel owl-theme">
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry"
                        style="background-image:url('{% static 'home/media/images/thumbs/featured/featured-guitarman.jpg' %}');">

                        <div class="entry__content">
                            <!-- <span class="entry__category"><a href="#0">Music</a></span> -->

                            <h1><a href="#0" title="">What Your Music Preference Says About You and Your
                                    Personality.</a></h1>

                            <div class="entry__info">

                                <ul class="entry__meta">
                                    <li><a href="#0">John Doe</a></li>
                                    <li>December 29, 2017</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

                <div class="featured__column featured__column--big">
                    <div class="entry"
                        style="background-image:url('{% static 'home/media/images/thumbs/featured/featured-beetle.jpg' %}');">

                        <div class="entry__content">
                            <!-- <span class="entry__category"><a href="#0">LifeStyle</a></span> -->

                            <h1><a href="#0" title="">Throwback To The Good Old Days.</a></h1>

                            <div class="entry__info">

                                <ul class="entry__meta">
                                    <li><a href="#0">John Doe</a></li>
                                    <li>December 21, 2017</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

                <div class="featured__column featured__column--big">
                    <div class="entry"
                        style="background-image:url('{% static 'home/media/images/thumbs/featured/featured-watch.jpg' %}');">

                        <div class="entry__content">
                            <!-- <span class="entry__category"><a href="#0">Management</a></span> -->

                            <h1><a href="#0" title="">The Pomodoro Technique Really Works.</a></h1>

                            <div class="entry__info">

                                <ul class="entry__meta">
                                    <li><a href="#0">John Doe</a></li>
                                    <li>December 27, 2017</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->
            </div> <!-- end featured -->
            <div class="more" align="right"><a href="#">MORE</a></div>

        </div> <!-- end col-full -->
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry"
                        style="background-image:url('{% static 'home/media/images/thumbs/featured/featured-guitarman.jpg' %}');">

                        <div class="entry__content">
                            <!-- <span class="entry__category"><a href="#0">Music</a></span> -->

                            <h1><a href="#0" title="">What Your Music Preference Says About You and Your
                                    Personality.</a></h1>

                            <div class="entry__info">

                                <ul class="entry__meta">
                                    <li><a href="#0">John Doe</a></li>
                                    <li>December 29, 2017</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

                <div class="featured__column featured__column--big">
                    <div class="entry"
                        style="background-image:url('{% static 'home/media/images/thumbs/featured/featured-beetle.jpg' %}');">

                        <div class="entry__content">
                            <!-- <span class="entry__category"><a href="#0">LifeStyle</a></span> -->

                            <h1><a href="#0" title="">Throwback To The Good Old Days.</a></h1>

                            <div class="entry__info">

                                <ul class="entry__meta">
                                    <li><a href="#0">John Doe</a></li>
                                    <li>December 21, 2017</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

                <div class="featured__column featured__column--big">
                    <div class="entry"
                        style="background-image:url('{% static 'home/media/images/thumbs/featured/featured-watch.jpg' %}');">

                        <div class="entry__content">
                            <!-- <span class="entry__category"><a href="#0">Management</a></span> -->

                            <h1><a href="#0" title="">The Pomodoro Technique Really Works.</a></h1>

                            <div class="entry__info">

                                <ul class="entry__meta">
                                    <li><a href="#0">John Doe</a></li>
                                    <li>December 27, 2017</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->
                <div class="more" align="right"><a href="#">MORE</a></div>
            </div> <!-- end featured -->

        </div> <!-- end col-full -->
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry"
                        style="background-image:url('{% static 'home/media/images/thumbs/featured/featured-guitarman.jpg' %}');">

                        <div class="entry__content">
                            <!-- <span class="entry__category"><a href="#0">Music</a></span> -->

                            <h1><a href="#0" title="">What Your Music Preference Says About You and Your
                                    Personality.</a></h1>

                            <div class="entry__info">

                                <ul class="entry__meta">
                                    <li><a href="#0">John Doe</a></li>
                                    <li>December 29, 2017</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

                <div class="featured__column featured__column--big">
                    <div class="entry"
                        style="background-image:url('{% static 'home/media/images/thumbs/featured/featured-beetle.jpg' %}');">

                        <div class="entry__content">
                            <!-- <span class="entry__category"><a href="#0">LifeStyle</a></span> -->

                            <h1><a href="#0" title="">Throwback To The Good Old Days.</a></h1>

                            <div class="entry__info">

                                <ul class="entry__meta">
                                    <li><a href="#0">John Doe</a></li>
                                    <li>December 21, 2017</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

                <div class="featured__column featured__column--big">
                    <div class="entry"
                        style="background-image:url('{% static 'home/media/images/thumbs/featured/featured-watch.jpg' %}');">

                        <div class="entry__content">
                            <!-- <span class="entry__category"><a href="#0">Management</a></span> -->

                            <h1><a href="#0" title="">The Pomodoro Technique Really Works.</a></h1>

                            <div class="entry__info">

                                <ul class="entry__meta">
                                    <li><a href="#0">John Doe</a></li>
                                    <li>December 27, 2017</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->
                <div class="more" align="right"><a href="#">MORE</a></div>
            </div> <!-- end featured -->

        </div> <!-- end col-full -->
    </div>
</div>