{% load static %}

<!-- .photo-item template HTML -->
<script type="text/html" id="photo-item-template">
    <div class="photo-item">
        <a href="[[urls.regular]]" data-lity>
            <img class="photo-item__image" src="[[urls.regular]]" alt="Photo by [[user.name]]" />
        </a>
        <p class="photo-item__caption">
            <a
                href="[[user.links.html]]?utm_source=infinite-scroll-demos&utm_medium=referral&utm_campaign=api-credit">[[user.name]]</a>
        </p>
    </div>
</script>

<!-- Java Script -->
<script src="{% static 'home/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap-4.1.3.min.js' %}"></script>
<script src="{% static 'home/js/darkreader-4.9.2.js' %}"></script>
<script src="{% static 'home/js/plugins.js' %}"></script>
<script src="{% static 'home/js/script.js' %}"></script>
<script src="{% static 'home/js/main.js' %}"></script>

<!-- Initialize Masonry -->
<script>
    $('.masonry').masonry({
        // options...
    });
</script>

<script>
    $(document).on('lity:ready', function (event, $lightbox) {
        var $data = $lightbox.opener().data();

        if ($data['title'] == null) {
            $data['title'] = 'The Splendid!';
        }

        if ($data['description'] == null) {
            $data['description'] = '“Great photography is about depth of feeling, not depth of field.”';
        }

        $('.lity-content').append('<h2>' + $data['title'] + '</h2><p>' + $data['description'] + '</p>');
    });
</script>