{% load static %}

<style>
    /* ------------------------------------------------------------------- 
    * ## mediaelement style overrides
    * ------------------------------------------------------------------- */
    .mejs__overlay-button {
        background-image: url("{% static 'home/media/images/mejs/mejs-controls.svg' %}");
    }

    .mejs__overlay-loading-bg-img {
        background-image: url("{% static 'home/media/images/mejs/mejs-controls.svg' %}");
    }

    .mejs__button>button {
        background-image: url("{% static 'home/media/images/mejs/mejs-controls.svg' %}");
    }

    .mejs__overlay-loading-bg-img {
        background: transparent url("{% static 'home/media/images/mejs/mejs-controls.svg' %}") -160px -40px no-repeat;
    }

    /* format quote & format link
    * --------------------------------------- */
    .format-quote .entry__thumb::before {
        background-image: url("{% static 'home/media/images/icons/icon-quote.svg' %}");
    }

    .format-link .entry__thumb::before {
        background-image: url("{% static 'home/media/images/icons/icon-link.svg' %}");
    }

    .format-video .entry__thumb a::before {
        background-image: url("{% static 'home/media/images/icons/icon-video.svg' %}");
    }

    .s-pageheader {
        background-image: url("{% static 'home/media/images/hero-bg.jpg' %}");
    }

    .header__search-trigger {
        background-image: url("{% static 'home/media/images/icons/search.svg' %}");
    }

    .signup-trigger {
        background-image: url("{% static 'home/media/images/icons/user-complete.svg' %}");
    }

    .s-footer__subscribe #mc-form input[type="email"] {
        background: url("{% static 'home/media/images/icons/icon-mail.svg' %}") 20px center no-repeat,
        rgba(0, 0, 0, 0.1);
    }

    .go-top a,
    .go-top a:visited {
        background-image: url("{% static 'home/media/images/icons/icon-arrow-up.svg' %}");
    }


    .mode-dark a {
        background-image: url("{% static 'home/media/images/icons/icon-sun.svg' %}");
        /* background-color: #FFFFFF; */
    }

    .mode-light a {
        background-image: url("{% static 'home/media/images/icons/icon-moon.svg' %}");
    }

    .pgn__prev {
        background-image: url("{% static 'home/media/images/icons/icon-arrow-left.svg' %}");
        left: 0;
    }

    .pgn__prev:hover {
        background-image: url("{% static 'home/media/images/icons/icon-arrow-left-w.svg' %}");
    }

    .pgn__next {
        background-image: url("{% static 'home/media/images/icons/icon-arrow-right.svg' %}");
        right: 0;
    }

    .pgn__next:hover {
        background-image: url("{% static 'home/media/images/icons/icon-arrow-right-w.svg' %}");
    }

    .pgn__prev.inactive:hover {
        background-image: url("{% static 'home/media/images/icons/icon-arrow-left.svg' %}");
    }

    .pgn__next.inactive:hover {
        background-image: url("{% static 'home/media/images/icons/icon-arrow-right.svg' %}");
    }

    .lg-outer .lg-has-vimeo .lg-video-play {
        background: url("{% static 'home/media/images/icons/play-l.svg' %}") no-repeat scroll 0 0 transparent;
    }

    .lg-outer .lg-has-vimeo:hover .lg-video-play {
        background: url("{% static 'home/media/images/icons/play-l.svg' %}") no-repeat scroll 0 -58px transparent;
    }

    .lg-outer .lg-has-html5 .lg-video-play {
        background: transparent url("{% static 'home/media/images/icons/play-l.svg' %}") no-repeat scroll 0 0;
    }

    .lg-outer .lg-has-youtube .lg-video-play {
        background: url("{% static 'home/media/images/icons/play-l.svg' %}") no-repeat scroll 0 0 transparent;
    }

    .lg-outer .lg-has-youtube:hover .lg-video-play {
        background: url("{% static 'home/media/images/icons/play-l.svg' %}") no-repeat scroll 0 -60px transparent;
    }

    .lg-outer .lg-item {
        background: url("{% static 'home/media/images/icons/loading.svg' %}") no-repeat scroll center center transparent;
    }

    .compose-post a,
    .compose-post a:visited {
        background-image: url("{% static 'home/media/images/icons/feather.svg' %}") !important;
    }
</style>