{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>lll Studio - Home</title>
{% endblock %}

{% block meta %}
{% endblock %}

{% block studio-style %}
<!-- Core Style CSS -->
<link rel="stylesheet" href="{% static 'home/css/bootstrap-4.1.3.css' %}">
<link rel="stylesheet" href="{% static 'studio/css/core-style.css' %}">
{% endblock %}

{% block styles %}
<style>
    .carousel-indicators li.active:after {
        background-image: url("{% static 'home/media/images/studio/core-img/active.png' %}");
    }
</style>
<!-- Overwrite Styles -->
<link rel="stylesheet" href="{% static 'studio/css/style.css' %}">
<link rel="stylesheet" href="{% static 'studio/css/filepond.min.css' %}">
<style>
    .add-snap.active a {
        background-color: #0054a5 !important;
    }

    .filepond-container p.buttons {
        text-align: center;
    }

    .btn {
        line-height: 3 !important;
    }

    .s-content {
        padding-top: 2rem !important;
    }
</style>
{% endblock %}

{% block header-section %}
<!-- pageheader -->
<div class="s-pageheader">
    {% include "home/common/header.html" %}
</div> <!-- end s-pageheader -->
<!-- Preloader -->
<!-- <div id="preloader">
        <div class="showbox">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                </svg>
            </div>
        </div>
        <div class="questions-area text-center">
            <p>Did you know?</p>
            <ul>
                <li>The largest photography competition is 353,768 entries.</li>
                <li>Photography is the toughest profession in the world.</li>
                <li>The world’s largest photo album by dimensions was 13 ft 11.5 in x 17 ft.</li>
                <li>The world’s largest photo mosaic featured 176,175 pictures.</li>
                <li>The world’s largest camera lens was a 5200mm lens attached to a canon.</li>
            </ul>
        </div>
    </div> -->
{% endblock %}

{% block content-section %}
<!-- Welcome Area Start -->
<div class="welcome-area-top" id="welcome-area-top">
    <section class="welcome-area" id="welcome-area">
        <div class="carousel h-100 slide" data-ride="carousel" id="welcomeSlider">
            <!-- Carousel Inner -->
            <div class="carousel-inner h-100">

                <div class="carousel-item h-100 bg-img active"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/1.jpg' %}");'>
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <p><span>The Snap&nbsp;&nbsp;</span>“Photography is the story I fail to put into words.”
                            </p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item h-100 bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/2.jpg' %}");'>
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <p><span>The Snap&nbsp;&nbsp;</span>“You don’t take a photograph. You ask quietly to
                                borrow it.”</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/3.jpg' %}");'>
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <p><span>The Snap&nbsp;&nbsp;</span>“In photography there is a reality so subtle that it
                                becomes more real than reality.”</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/4.jpg' %}");'>
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <p><span>The Snap&nbsp;&nbsp;</span>“There is one thing the photograph must contain, the
                                humanity of the moment.”</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/5.jpg' %}");'>
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <p><span>The Snap&nbsp;&nbsp;</span>“Taking an image, freezing a moment, reveals how
                                rich reality truly is.”</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/6.jpg' %}");'>
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <p><span>The Snap&nbsp;&nbsp;</span>“A portrait is not made in the camera but on either
                                side of it.”</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/7.jpg' %}");'>
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <p><span>The Snap&nbsp;&nbsp;</span>“Photographs open doors into the past, but they also
                                allow a look into the future.”</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/8.jpg' %}");'>
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <p><span>The Snap&nbsp;&nbsp;</span>“Essentially what photography is, is, life lit up.”
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/9.jpg' %}");'>
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <p><span>The Snap&nbsp;&nbsp;</span>“Photography is truth.”</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/10.jpg' %}");'>
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <p><span>The Snap&nbsp;&nbsp;</span>“If you see something that moves you, and then snap
                                it, you keep a moment.”</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/11.jpg' %}");'>
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <p><span>The Snap&nbsp;&nbsp;</span>“When people ask me what equipment I use – I tell
                                them my eyes.”</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/12.jpg' %}");'>
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <p><span>The Snap&nbsp;&nbsp;</span>“All photographs are accurate. None of them is the
                                truth.”</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/13.jpg' %}");'>
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <p><span>The Snap&nbsp;&nbsp;</span>“I think good dreaming is what leads to good
                                photographs.”</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#welcomeSlider" data-slide-to="0" class="active bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/1.jpg' %}");'></li>
                <li data-target="#welcomeSlider" data-slide-to="1" class="bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/2.jpg' %}");'></li>
                <li data-target="#welcomeSlider" data-slide-to="2" class="bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/3.jpg' %}");'></li>
                <li data-target="#welcomeSlider" data-slide-to="3" class="bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/4.jpg' %}");'></li>
                <li data-target="#welcomeSlider" data-slide-to="4" class="bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/5.jpg' %}");'></li>
                <li data-target="#welcomeSlider" data-slide-to="5" class="bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/6.jpg' %}");'></li>
                <li data-target="#welcomeSlider" data-slide-to="6" class="bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/7.jpg' %}");'></li>
                <li data-target="#welcomeSlider" data-slide-to="7" class="bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/8.jpg' %}");'></li>
                <li data-target="#welcomeSlider" data-slide-to="8" class="bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/9.jpg' %}");'></li>
                <li data-target="#welcomeSlider" data-slide-to="9" class="bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/10.jpg' %}");'></li>
                <li data-target="#welcomeSlider" data-slide-to="10" class="bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/11.jpg' %}");'></li>
                <li data-target="#welcomeSlider" data-slide-to="11" class="bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/12.jpg' %}");'></li>
                <li data-target="#welcomeSlider" data-slide-to="12" class="bg-img"
                    style='background-image: url("{% static 'home/media/images/studio/bg-img/13.jpg' %}");'></li>
            </ol>
        </div>
    </section>
</div>
<!-- Welcome Area End -->
<section class="s-content studio-index">
    <div class="filepond-container">
        <div class="row">

            <div class="s-content__header col-full">
                <h2 class="s-content__header-title">
                    Upload a Snap
                </h2>
            </div>

        </div>
        <input type="file" class="filepond" name="filepond" multiple data-max-files="3" />
        <p class="buttons">
            <a class="btn btn--red" href="#0">Discard</a>
        </p>
    </div>
</section>
{% include "studio/common/gallery-grid.html" %}
{% endblock %}

{% block extra-section %}
<!-- s-extra -->
<section class="s-extra">
    {% include "home/common/tags.html" %}
    {% include "studio/common/insta-feed.html" %}
    {% include "home/common/popular.html" %}
</section> <!-- end s-extra -->
{% endblock %}

{% block scripts-section %}
<!-- Show slideshow on Top -->
<script>
    $(function () {
        $('html, body').scrollTop($('.welcome-area-top').offset().top)
    });
    $(function () {
        if (window.location.href.indexOf("/studio/#add-snap") != -1) {
            $('.filepond-container').show('');
            $('html, body').scrollTop($('.filepond-container').offset().top)
        }
    });
    $(document).ready(function(){
        $(".add-snap").show();
    });
</script>

<script src="{% static 'studio/js/filepond.min.js' %}"></script>

<script>
    FilePond.registerPlugin(FilePondPluginFileEncode);
    FilePond.registerPlugin(FilePondPluginFileMetadata);
    FilePond.registerPlugin(FilePondPluginFilePoster);
    FilePond.registerPlugin(FilePondPluginFileRename);
    FilePond.registerPlugin(FilePondPluginFileValidateSize);
    FilePond.registerPlugin(FilePondPluginFileValidateType);
    FilePond.registerPlugin(FilePondPluginImageExifOrientation);
    FilePond.registerPlugin(FilePondPluginImageCrop);

    FilePond.registerPlugin(FilePondPluginImageFilter);
    FilePond.registerPlugin(FilePondPluginImagePreview);
    FilePond.registerPlugin(FilePondPluginImageResize);
    FilePond.registerPlugin(FilePondPluginImageValidateSize);
    FilePond.registerPlugin(FilePondPluginImageTransform);

    FilePond.parse(document.body);
    FilePond.create(
        document.querySelector('input')
    );
</script>

{% endblock %}