
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="The Begining, The Current, The End!" content="">
    <meta name="Venkata Rakesh Anne" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Studio - AVRC26</title>

    <!-- favicons -->
    <link rel="shortcut icon" href="{% static 'home/media/images/lll-logo-inv.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'home/media/images//lll-logo-inv.png' %}" type="image/x-icon">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'home/css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">


    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'home/css/base.cs' %}s">
    <link rel="stylesheet" href="{% static 'home/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/main.css' %}">

    <style type="text/css" media="screen">
        .s-styles {
            background: #f2f2f2;
            padding: 0%;
        }

        .s-styles .section-intro h1 {
            padding: 0%;
            margin-top: 0;
        }

        .carousel-indicators li.active:after {
            background-image: url("{% static 'home/media/images/studio/core-img/active.png' %}");
        }

        .header__logo a {
            margin-bottom: 10px;
        }
    </style>

    {% include "common/style.html" %}

    <!-- script -->
    <script src="{% static 'home/js/modernizr.js' %}"></script>
    <script src="{% static 'home/js/pace.min.js' %}"></script>
</head>

<body id="top">
    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">

        {% include "common/header.html" %}

    </div> <!-- end s-pageheader -->
    <!-- Preloader -->
    <!-- <div id="preloader">
        <div class="showbox">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                </svg>
            </div>
        </div>
        <div class="questions-area text-center">
            <p>Did you know?</p>
            <ul>
                <li>The largest photography competition is 353,768 entries.</li>
                <li>Photography is the toughest profession in the world.</li>
                <li>The world’s largest photo album by dimensions was 13 ft 11.5 in x 17 ft.</li>
                <li>The world’s largest photo mosaic featured 176,175 pictures.</li>
                <li>The world’s largest camera lens was a 5200mm lens attached to a canon.</li>
            </ul>
        </div>
    </div> -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area-top" id="welcome-area-top">
        <section class="welcome-area" id="welcome-area">
            <div class="carousel h-100 slide" data-ride="carousel" id="welcomeSlider">
                <!-- Carousel Inner -->
                <div class="carousel-inner h-100">
    
                    <div class="carousel-item h-100 bg-img active" style='background-image: url("{% static 'home/media/images/studio/bg-img/1.jpg' %}");'>
                        <div class="carousel-content h-100">
                            <div class="slide-text">
                                <p><span>The Snap&nbsp;&nbsp;</span>“Photography is the story I fail to put into words.”</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="carousel-item h-100 bg-img" style='background-image: url("{% static 'home/media/images/studio/bg-img/2.jpg' %}");'>
                        <div class="carousel-content h-100">
                            <div class="slide-text">
                                <p><span>The Snap&nbsp;&nbsp;</span>“You don’t take a photograph. You ask quietly to borrow it.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-100 bg-img" style='background-image: url("{% static 'home/media/images/studio/bg-img/3.jpg' %}");'>
                        <div class="carousel-content h-100">
                            <div class="slide-text">
                                <p><span>The Snap&nbsp;&nbsp;</span>“In photography there is a reality so subtle that it becomes more real than reality.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-100 bg-img" style='background-image: url("{% static 'home/media/images/studio/bg-img/4.jpg' %}");'>
                        <div class="carousel-content h-100">
                            <div class="slide-text">
                                <p><span>The Snap&nbsp;&nbsp;</span>“There is one thing the photograph must contain, the humanity of the moment.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-100 bg-img" style='background-image: url("{% static 'home/media/images/studio/bg-img/5.jpg' %}");'>
                        <div class="carousel-content h-100">
                            <div class="slide-text">
                                <p><span>The Snap&nbsp;&nbsp;</span>“Taking an image, freezing a moment, reveals how rich reality truly is.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-100 bg-img" style='background-image: url("{% static 'home/media/images/studio/bg-img/6.jpg' %}");'>
                        <div class="carousel-content h-100">
                            <div class="slide-text">
                                <p><span>The Snap&nbsp;&nbsp;</span>“A portrait is not made in the camera but on either side of it.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-100 bg-img" style='background-image: url("{% static 'home/media/images/studio/bg-img/7.jpg' %}");'>
                        <div class="carousel-content h-100">
                            <div class="slide-text">
                                <p><span>The Snap&nbsp;&nbsp;</span>“Photographs open doors into the past, but they also allow a look into the future.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-100 bg-img" style='background-image: url("{% static 'home/media/images/studio/bg-img/8.jpg' %}");'>
                        <div class="carousel-content h-100">
                            <div class="slide-text">
                                <p><span>The Snap&nbsp;&nbsp;</span>“Essentially what photography is, is, life lit up.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-100 bg-img" style='background-image: url("{% static 'home/media/images/studio/bg-img/9.jpg' %}");'>
                        <div class="carousel-content h-100">
                            <div class="slide-text">
                                <p><span>The Snap&nbsp;&nbsp;</span>“Photography is truth.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-100 bg-img" style='background-image: url("{% static 'home/media/images/studio/bg-img/10.jpg' %}");'>
                        <div class="carousel-content h-100">
                            <div class="slide-text">
                                <p><span>The Snap&nbsp;&nbsp;</span>“If you see something that moves you, and then snap it, you keep a moment.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-100 bg-img" style='background-image: url("{% static 'home/media/images/studio/bg-img/11.jpg' %}");'>
                        <div class="carousel-content h-100">
                            <div class="slide-text">
                                <p><span>The Snap&nbsp;&nbsp;</span>“When people ask me what equipment I use – I tell them my eyes.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-100 bg-img" style='background-image: url("{% static 'home/media/images/studio/bg-img/12.jpg' %}");'>
                        <div class="carousel-content h-100">
                            <div class="slide-text">
                                <p><span>The Snap&nbsp;&nbsp;</span>“All photographs are accurate. None of them is the truth.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-100 bg-img" style='background-image: url("{% static 'home/media/images/studio/bg-img/13.jpg' %}");'>
                        <div class="carousel-content h-100">
                            <div class="slide-text">
                                <p><span>The Snap&nbsp;&nbsp;</span>“I think good dreaming is what leads to good photographs.”</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Carousel Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#welcomeSlider" data-slide-to="0" class="active bg-img"
                        style='background-image: url("{% static 'home/media/images/studio/bg-img/1.jpg' %}");'></li>
                    <li data-target="#welcomeSlider" data-slide-to="1" class="bg-img"
                        style='background-image: url("{% static 'home/media/images/studio/bg-img/2.jpg' %}");'></li>
                    <li data-target="#welcomeSlider" data-slide-to="2" class="bg-img"
                        style='background-image: url("{% static 'home/media/images/studio/bg-img/3.jpg' %}");'></li>
                    <li data-target="#welcomeSlider" data-slide-to="3" class="bg-img"
                        style='background-image: url("{% static 'home/media/images/studio/bg-img/4.jpg' %}");'></li>
                    <li data-target="#welcomeSlider" data-slide-to="4" class="bg-img"
                        style='background-image: url("{% static 'home/media/images/studio/bg-img/5.jpg' %}");'></li>
                    <li data-target="#welcomeSlider" data-slide-to="5" class="bg-img"
                        style='background-image: url("{% static 'home/media/images/studio/bg-img/6.jpg' %}");'></li>
                    <li data-target="#welcomeSlider" data-slide-to="6" class="bg-img"
                        style='background-image: url("{% static 'home/media/images/studio/bg-img/7.jpg' %}");'></li>
                    <li data-target="#welcomeSlider" data-slide-to="7" class="bg-img"
                        style='background-image: url("{% static 'home/media/images/studio/bg-img/8.jpg' %}");'></li>
                    <li data-target="#welcomeSlider" data-slide-to="8" class="bg-img"
                        style='background-image: url("{% static 'home/media/images/studio/bg-img/9.jpg' %}");'></li>
                    <li data-target="#welcomeSlider" data-slide-to="9" class="bg-img"
                        style='background-image: url("{% static 'home/media/images/studio/bg-img/10.jpg' %}");'></li>
                    <li data-target="#welcomeSlider" data-slide-to="10" class="bg-img"
                        style='background-image: url("{% static 'home/media/images/studio/bg-img/11.jpg' %}");'></li>
                    <li data-target="#welcomeSlider" data-slide-to="11" class="bg-img"
                        style='background-image: url("{% static 'home/media/images/studio/bg-img/12.jpg' %}");'></li>
                    <li data-target="#welcomeSlider" data-slide-to="12" class="bg-img"
                        style='background-image: url("{% static 'home/media/images/studio/bg-img/13.jpg' %}");'></li>
                </ol>
            </div>
        </section>
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- s-content
================================================== -->
    <section class="s-content">

        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="grid-sizer"></div>

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="single-standard.html" class="entry__thumb-link">
                            <img src="{% static 'home/media/images/thumbs/masonry/lamp-400.jpg' %}"
                                srcset="{% static 'home/media/images/thumbs/masonry/lamp-400.jpg' %} 1x, {% static 'home/media/images/thumbs/masonry/lamp-800.jpg' %} 2x"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-standard.html">December 15, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="single-standard.html">Just a Standard Format Post.</a>
                            </h1>

                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et
                                sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia
                                aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="category.html">Design</a>
                                <a href="category.html">Photography</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-quote" data-aos="fade-up">

                    <div class="entry__thumb">
                        <blockquote>
                            <p>Good design is making something intelligible and memorable. Great design is making
                                something memorable and meaningful.</p>

                            <cite>Dieter Rams</cite>
                        </blockquote>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="single-standard.html" class="entry__thumb-link">
                            <img src="{% static 'home/media/images/thumbs/masonry/tulips-400.jpg' %}"
                                srcset="{% static 'home/media/images/thumbs/masonry/tulips-400.jpg' %} 1x, {% static 'home/media/images/thumbs/masonry/tulips-800.jpg' %} 2x"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-standard.html">December 15, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="single-standard.html">10 Interesting Facts About
                                    Caffeine.</a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et
                                sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia
                                aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="category.html">Health</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="single-standard.html" class="entry__thumb-link">
                            <img src="{% static 'home/media/images/thumbs/masonry/cookies-400.jpg' %}"
                                srcset="{% static 'home/media/images/thumbs/masonry/cookies-400.jpg' %} 1x, {% static 'home/media/images/thumbs/masonry/cookies-800.jpg' %} 2x"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-standard.html">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="single-standard.html">No Sugar Oatmeal Cookies.</a>
                            </h1>

                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et
                                sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia
                                aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="category.html">Cooking</a>
                                <a href="category.html">Health</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="single-standard.html" class="entry__thumb-link">
                            <img src="{% static 'home/media/images/thumbs/masonry/wheel-400.jpg' %}"
                                srcset="{% static 'home/media/images/thumbs/masonry/wheel-400.jpg' %} 1x, {% static 'home/media/images/thumbs/masonry/wheel-800.jpg' %} 2x"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-standard.html">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="single-standard.html">Visiting Theme Parks Improves
                                    Your Health.</a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et
                                sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia
                                aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="#">Health</a>
                                <a href="#">Lifestyle</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-video" data-aos="fade-up">

                    <div class="entry__thumb video-image">
                        <a href="https://player.vimeo.com/video/117310401?color=01aef0&title=0&byline=0&portrait=0"
                            data-lity>
                            <img src="{% static 'home/media/images/thumbs/masonry/shutterbug-400.jpg' %}"
                                srcset="{% static 'home/media/images/thumbs/masonry/shutterbug-400.jpg' %} 1x, {% static 'home/media/images/thumbs/masonry/shutterbug-800.jpg' %} 2x"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-video.html">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="single-video.html">Key Benefits Of Family
                                    Photography.</a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et
                                sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia
                                aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="category.html">Family</a>
                                <a href="category.html">Photography</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->


                <article class="masonry__brick entry format-gallery" data-aos="fade-up">

                    <div class="entry__thumb slider">
                        <div class="slider__slides">
                            <div class="slider__slide">
                                <img src="{% static 'home/media/images/thumbs/masonry/gallery/gallery-1-400.jpg' %}"
                                    srcset="{% static 'home/media/images/thumbs/masonry/gallery/gallery-1-400.jpg' %} 1x, {% static 'home/media/images/thumbs/masonry/gallery/gallery-1-800.jpg' %} 2x"
                                    alt="">
                            </div>
                            <div class="slider__slide">
                                <img src="{% static 'home/media/images/thumbs/masonry/gallery/gallery-2-400.jpg' %}"
                                    srcset="{% static 'home/media/images/thumbs/masonry/gallery/gallery-2-400.jpg' %} 1x, {% static 'home/media/images/thumbs/masonry/gallery/gallery-2-800.jpg' %} 2x"
                                    alt="">
                            </div>
                            <div class="slider__slide">
                                <img src="{% static 'home/media/images/thumbs/masonry/gallery/gallery-3-400.jpg' %}"
                                    srcset="{% static 'home/media/images/thumbs/masonry/gallery/gallery-3-400.jpg' %} 1x, {% static 'home/media/images/thumbs/masonry/gallery/gallery-3-800.jpg' %} 2x"
                                    alt="">
                            </div>
                        </div>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-gallery.html">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="single-gallery.html">Workspace Design Trends and
                                    Ideas.</a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et
                                sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia
                                aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="category.html">Work</a>
                                <a href="category.html">Management</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-audio" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="single-audio.html" class="entry__thumb-link">
                            <img src="{% static 'home/media/images/thumbs/masonry/guitarman-400.jpg' %}"
                                srcset="{% static 'home/media/images/thumbs/masonry/guitarman-400.jpg' %} 1x, {% static 'home/media/images/thumbs/masonry/guitarman-800.jpg' %} 2x"
                                alt="">
                        </a>
                        <div class="audio-wrap">
                            <audio id="player" src="{% static 'home/media/audio/AirReview-Landmarks-02-ChasingCorporate.mp3' %}" width="100%"
                                height="42" controls="controls"></audio>
                        </div>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-audio.html">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="single-audio.html">What Your Music Preference Says
                                    About You and Your Personality.</a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et
                                sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia
                                aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="category.html">Music</a>
                                <a href="category.html">Lifestyle</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-link" data-aos="fade-up">

                    <div class="entry__thumb">
                        <div class="link-wrap">
                            <p>The Only Resource You Will Need To Start a Blog Using WordPress.</p>
                            <cite>
                                <a target="_blank" href="https://colorlib.com/">https://colorlib.com</a>
                            </cite>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="single-standard.html" class="entry__thumb-link">
                            <img src="{% static 'home/media/images/thumbs/masonry/jump-400.jpg' %}"
                                srcset="{% static 'home/media/images/thumbs/masonry/jump-400.jpg' %} 1x, {% static 'home/media/images/thumbs/masonry/jump-800.jpg' %} 2x"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-standard.html">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="single-standard.html">Create Meaningful Family
                                    Moments.</a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et
                                sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia
                                aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="category.html">Family</a>
                                <a href="category.html">Relationship</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="single-standard.html" class="entry__thumb-link">
                            <img src="{% static 'home/media/images/thumbs/masonry/beetle-400.jpg' %}"
                                srcset="{% static 'home/media/images/thumbs/masonry/beetle-400.jpg' %} 1x, {% static 'home/media/images/thumbs/masonry/beetle-800.jpg' %} 2x"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-standard.html">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="single-standard.html">Throwback To The Good Old
                                    Days.</a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et
                                sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia
                                aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="category.html">Lifestyle</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="single-standard.html" class="entry__thumb-link">
                            <img src="{% static 'home/media/images/thumbs/masonry/fuji-400.jpg' %}"
                                srcset="{% static 'home/media/images/thumbs/masonry/fuji-400.jpg' %} 1x, {% static 'home/media/images/thumbs/masonry/fuji-800.jpg' %} 2x"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-standard.html">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="single-standard.html">Just Another Standard Format
                                    Post.</a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et
                                sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia
                                aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="category.html">Design</a>
                                <a href="category.html">Photography</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="single-standard.html" class="entry__thumb-link">
                            <img src="{% static 'home/media/images/thumbs/masonry/sydney-400.jpg' %}"
                                srcset="{% static 'home/media/images/thumbs/masonry/sydney-400.jpg' %} 1x, {% static 'home/media/images/thumbs/masonry/sydney-800.jpg' %} 2x"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-standard.html">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="single-standard.html">Planning Your First Trip to
                                    Sydney.</a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et
                                sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia
                                aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="category.html">Travel</a>
                                <a href="category.html">Vacation</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->

        <div class="row">
            <div class="col-full">
                <nav class="pgn">
                    <ul>
                        <li><a class="pgn__prev" href="#0">Prev</a></li>
                        <li><a class="pgn__num" href="#0">1</a></li>
                        <li><span class="pgn__num current">2</span></li>
                        <li><a class="pgn__num" href="#0">3</a></li>
                        <li><a class="pgn__num" href="#0">4</a></li>
                        <li><a class="pgn__num" href="#0">5</a></li>
                        <li><span class="pgn__num dots">…</span></li>
                        <li><a class="pgn__num" href="#0">8</a></li>
                        <li><a class="pgn__next" href="#0">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </section> <!-- s-content -->


    <!-- s-extra
================================================== -->
    <section class="s-extra">

        <div class="row top">

            <div class="col-eight md-six tab-full popular">
                <h3>Popular Posts</h3>

                <div class="block-1-2 block-m-full popular__posts">
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="{% static 'home/media/images/thumbs/small/wheel-150.jpg' %}" alt="">
                        </a>
                        <h5><a href="#0">Visiting Theme Parks Improves Your Health.</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-19">Dec 19,
                                    2017</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="{% static 'home/media/images/thumbs/small/shutterbug-150.jpg' %}" alt="">
                        </a>
                        <h5><a href="#0">Key Benefits Of Family Photography.</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-18">Dec 18,
                                    2017</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="{% static 'home/media/images/thumbs/small/cookies-150.jpg' %}" alt="">
                        </a>
                        <h5><a href="#0">Absolutely No Sugar Oatmeal Cookies.</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-16">Dec 16,
                                    2017</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="{% static 'home/media/images/thumbs/small/beetle-150.jpg' %}" alt="">
                        </a>
                        <h5><a href="#0">Throwback To The Good Old Days.</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-16">Dec 16,
                                    2017</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="{% static 'home/media/images/thumbs/small/tulips-150.jpg' %}" alt="">
                        </a>
                        <h5><a href="#0">10 Interesting Facts About Caffeine.</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-14">Dec 14,
                                    2017</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="{% static 'home/media/images/thumbs/small/salad-150.jpg' %}" alt="">
                        </a>
                        <h5><a href="#0">Healthy Mediterranean Salad Recipes</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-12">Dec 12,
                                    2017</time></span>
                        </section>
                    </article>
                </div> <!-- end popular_posts -->
            </div> <!-- end popular -->

            <div class="col-four md-six tab-full about">
                <h3>About Philosophy</h3>

                <p>
                    Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat.
                    Pellentesque in ipsum id orci porta dapibus. Vestibulum ante ipsum primis in faucibus orci
                    luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel,
                    ullamcorper sit amet ligula. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec
                    sollicitudin molestie malesuada.
                </p>

                <ul class="about__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->
            </div> <!-- end about -->

        </div> <!-- end row -->

        <div class="row bottom tags-wrap">
            <div class="col-full tags">
                <h3>Tags</h3>

                <div class="tagcloud">
                    <a href="#0">Salad</a>
                    <a href="#0">Recipe</a>
                    <a href="#0">Places</a>
                    <a href="#0">Tips</a>
                    <a href="#0">Friends</a>
                    <a href="#0">Travel</a>
                    <a href="#0">Exercise</a>
                    <a href="#0">Reading</a>
                    <a href="#0">Running</a>
                    <a href="#0">Self-Help</a>
                    <a href="#0">Vacation</a>
                </div> <!-- end tagcloud -->
            </div> <!-- end tags -->
        </div> <!-- end tags-wrap -->

    </section> <!-- end s-extra -->


    <!-- s-footer
================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">

                <div class="col-two md-four mob-full s-footer__sitelinks">

                    <h4>Quick Links</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Home</a></li>
                        <li><a href="#0">Blog</a></li>
                        <li><a href="#0">Styles</a></li>
                        <li><a href="#0">About</a></li>
                        <li><a href="#0">Contact</a></li>
                        <li><a href="#0">Privacy Policy</a></li>
                    </ul>

                </div> <!-- end s-footer__sitelinks -->

                <div class="col-two md-four mob-full s-footer__archives">

                    <h4>Archives</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">January 2018</a></li>
                        <li><a href="#0">December 2017</a></li>
                        <li><a href="#0">November 2017</a></li>
                        <li><a href="#0">October 2017</a></li>
                        <li><a href="#0">September 2017</a></li>
                        <li><a href="#0">August 2017</a></li>
                    </ul>

                </div> <!-- end s-footer__archives -->

                <div class="col-two md-four mob-full s-footer__social">

                    <h4>Social</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Facebook</a></li>
                        <li><a href="#0">Instagram</a></li>
                        <li><a href="#0">Twitter</a></li>
                        <li><a href="#0">Pinterest</a></li>
                        <li><a href="#0">Google+</a></li>
                        <li><a href="#0">LinkedIn</a></li>
                    </ul>

                </div> <!-- end s-footer__social -->

                <div class="col-five md-full end s-footer__subscribe">

                    <h4>Our Newsletter</h4>

                    <p>Sit vel delectus amet officiis repudiandae est voluptatem. Tempora maxime provident nisi et
                        fuga et enim exercitationem ipsam. Culpa consequatur occaecati.</p>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email"
                                placeholder="Email Address" required="">

                            <input type="submit" name="subscribe" value="Send">

                            <label for="mc-email" class="subscribe-message"></label>

                        </form>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>© Copyright Philosophy 2018</span>
                        <span>Site Template by <a href="https://colorlib.com/">Colorlib</a></span>
                    </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                    <div class="dark-mode-toggle mode-light">
                        <a title="Toggle Dark Mode" href="#"></a>
                    </div>
                </div>
            </div>
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->

    <!-- <div id="includeFooter"></div> -->
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{% static 'home/js/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/plugins.js' %}"></script>
    <script src="{% static 'home/js/main.js' %}"></script>
    <script src="{% static 'home/js/darkreader-4.9.2.js' %}"></script>
    <!-- Initialize Masonry -->
    <script>
        $('.masonry').masonry({
            // options...
        });
    </script>

    <!-- Script to Load Custom pages -->
    <!-- <script> 
        $(function(){
          $("#includeFooter").load("footer.html"); 
        });
    </script>  -->
    <!-- Script to Load Common pages -->
    <script> 
        $(function(){
            $("#includeHeader").load("header.html"); 
        });
    </script> 
    <script>
        $(function(){
            $('html, body').scrollTop($('.welcome-area-top').offset().top)
        });
    </script>

</body>

</html>