{% load static %}

<!-- s-content -->
<section class="s-content">

    <div class="row">

        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                Our Studio
            </h1>
        </div>

    </div>

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="grid-sizer"></div>

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% static 'home/media/images/thumbs/masonry/lamp-400.jpg' %}" class="entry__thumb-link"
                        data-lity>
                        <img src="{% static 'home/media/images/thumbs/masonry/lamp-400.jpg' %}" alt="">
                    </a>
                </div>

                <!-- <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="single-standard.html">December 15, 2017</a>
                        </div>
                        <h1 class="entry__title"><a href="single-standard.html">Just a Standard Format Post.</a>
                        </h1>

                    </div>

                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="category.html">Design</a>
                            <a href="category.html">Photography</a>
                        </span>
                    </div>
                </div> -->

            </article> <!-- end article -->

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% static 'home/media/images/thumbs/masonry/tulips-400.jpg' %}" class="entry__thumb-link"
                        data-lity>
                        <img src="{% static 'home/media/images/thumbs/masonry/tulips-400.jpg' %}" alt="">
                    </a>
                </div>

                <!-- <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="single-standard.html">December 15, 2017</a>
                        </div>
                        <h1 class="entry__title"><a href="single-standard.html">10 Interesting Facts About
                                Caffeine.</a></h1>

                    </div>

                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="category.html">Health</a>
                        </span>
                    </div>
                </div> -->

            </article> <!-- end article -->

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% static 'home/media/images/thumbs/masonry/cookies-400.jpg' %}" class="entry__thumb-link"
                        data-lity>
                        <img src="{% static 'home/media/images/thumbs/masonry/cookies-400.jpg' %}" alt="">
                    </a>
                </div>

                <!-- <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="single-standard.html">December 10, 2017</a>
                        </div>
                        <h1 class="entry__title"><a href="single-standard.html">No Sugar Oatmeal Cookies.</a>
                        </h1>

                    </div>

                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="category.html">Cooking</a>
                            <a href="category.html">Health</a>
                        </span>
                    </div>
                </div> -->

            </article> <!-- end article -->

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% static 'home/media/images/thumbs/masonry/paraglider_5k.jpg' %}" class="entry__thumb-link"
                        data-lity data-title="Title One" data-description="This is an amazing Snap!">
                        <img src="{% static 'home/media/images/thumbs/masonry/paraglider_5k.jpg' %}" alt="">
                    </a>
                </div>

                <!-- <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="single-standard.html">December 10, 2017</a>
                        </div>
                        <h1 class="entry__title"><a href="single-standard.html">Planning Your First Trip to
                                Sydney.</a></h1>

                    </div>

                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="category.html">Travel</a>
                            <a href="category.html">Vacation</a>
                        </span>
                    </div>
                </div> -->

            </article> <!-- end article -->
            
            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% static 'home/media/images/thumbs/masonry/sydney-400.jpg' %}" class="entry__thumb-link"
                        data-lity data-title="Title One" data-description="This is an amazing Snap!">
                        <img src="{% static 'home/media/images/thumbs/masonry/sydney-400.jpg' %}" alt="">
                    </a>
                </div>

                <!-- <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="single-standard.html">December 10, 2017</a>
                        </div>
                        <h1 class="entry__title"><a href="single-standard.html">Planning Your First Trip to
                                Sydney.</a></h1>

                    </div>

                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="category.html">Travel</a>
                            <a href="category.html">Vacation</a>
                        </span>
                    </div>
                </div> -->

            </article> <!-- end article -->



            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% static 'home/media/images/thumbs/masonry/wheel-400.jpg' %}" class="entry__thumb-link"
                        data-lity>
                        <img src="{% static 'home/media/images/thumbs/masonry/wheel-400.jpg' %}" alt="">
                    </a>
                </div>

                <!-- <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="single-standard.html">December 10, 2017</a>
                        </div>
                        <h1 class="entry__title"><a href="single-standard.html">Visiting Theme Parks Improves
                                Your Health.</a></h1>

                    </div>
                    
                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="#">Health</a>
                            <a href="#">Lifestyle</a>
                        </span>
                    </div>
                </div> -->

            </article> <!-- end article -->

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% static 'home/media/images/thumbs/masonry/jump-400.jpg' %}" class="entry__thumb-link"
                        data-lity>
                        <img src="{% static 'home/media/images/thumbs/masonry/jump-400.jpg' %}" alt="">
                    </a>
                </div>

                <!-- <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="single-standard.html">December 10, 2017</a>
                        </div>
                        <h1 class="entry__title"><a href="single-standard.html">Create Meaningful Family
                                Moments.</a></h1>

                    </div>

                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="category.html">Family</a>
                            <a href="category.html">Relationship</a>
                        </span>
                    </div>
                </div> -->

            </article> <!-- end article -->

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% static 'home/media/images/thumbs/masonry/beetle-400.jpg' %}" class="entry__thumb-link"
                        data-lity>
                        <img src="{% static 'home/media/images/thumbs/masonry/beetle-400.jpg' %}" alt="">
                    </a>
                </div>

                <!-- <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="single-standard.html">December 10, 2017</a>
                        </div>
                        <h1 class="entry__title"><a href="single-standard.html">Throwback To The Good Old
                                Days.</a></h1>

                    </div>

                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="category.html">Lifestyle</a>
                        </span>
                    </div>
                </div> -->

            </article> <!-- end article -->

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% static 'home/media/images/thumbs/masonry/fuji-400.jpg' %}" class="entry__thumb-link"
                        data-lity>
                        <img src="{% static 'home/media/images/thumbs/masonry/fuji-400.jpg' %}" alt="">
                    </a>
                </div>

                <!-- <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="single-standard.html">December 10, 2017</a>
                        </div>
                        <h1 class="entry__title"><a href="single-standard.html">Just Another Standard Format
                                Post.</a></h1>

                    </div>

                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="category.html">Design</a>
                            <a href="category.html">Photography</a>
                        </span>
                    </div>
                </div> -->

            </article> <!-- end article -->

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% static 'home/media/images/thumbs/masonry/sydney-400.jpg' %}" class="entry__thumb-link"
                        data-lity>
                        <img src="{% static 'home/media/images/thumbs/masonry/sydney-400.jpg' %}" alt="">
                    </a>
                </div>

                <!-- <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="single-standard.html">December 10, 2017</a>
                        </div>
                        <h1 class="entry__title"><a href="single-standard.html">Planning Your First Trip to
                                Sydney.</a></h1>

                    </div>

                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="category.html">Travel</a>
                            <a href="category.html">Vacation</a>
                        </span>
                    </div>
                </div> -->

            </article> <!-- end article -->

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% static 'home/media/images/thumbs/masonry/lamp-400.jpg' %}" class="entry__thumb-link"
                        data-lity>
                        <img src="{% static 'home/media/images/thumbs/masonry/lamp-400.jpg' %}" alt="">
                    </a>
                </div>

                <!-- <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="single-standard.html">December 15, 2017</a>
                        </div>
                        <h1 class="entry__title"><a href="single-standard.html">Just a Standard Format Post.</a>
                        </h1>

                    </div>

                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="category.html">Design</a>
                            <a href="category.html">Photography</a>
                        </span>
                    </div>
                </div> -->

            </article> <!-- end article -->

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% static 'home/media/images/thumbs/masonry/tulips-400.jpg' %}" class="entry__thumb-link"
                        data-lity>
                        <img src="{% static 'home/media/images/thumbs/masonry/tulips-400.jpg' %}" alt="">
                    </a>
                </div>

                <!-- <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="single-standard.html">December 15, 2017</a>
                        </div>
                        <h1 class="entry__title"><a href="single-standard.html">10 Interesting Facts About
                                Caffeine.</a></h1>

                    </div>

                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="category.html">Health</a>
                        </span>
                    </div>
                </div> -->

            </article> <!-- end article -->

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% static 'home/media/images/thumbs/masonry/cookies-400.jpg' %}" class="entry__thumb-link"
                        data-lity>
                        <img src="{% static 'home/media/images/thumbs/masonry/cookies-400.jpg' %}" alt="">
                    </a>
                </div>

                <!-- <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="single-standard.html">December 10, 2017</a>
                        </div>
                        <h1 class="entry__title"><a href="single-standard.html">No Sugar Oatmeal Cookies.</a>
                        </h1>

                    </div>

                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="category.html">Cooking</a>
                            <a href="category.html">Health</a>
                        </span>
                    </div>
                </div> -->

            </article> <!-- end article -->

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% static 'home/media/images/thumbs/masonry/wheel-400.jpg' %}" class="entry__thumb-link"
                        data-lity>
                        <img src="{% static 'home/media/images/thumbs/masonry/wheel-400.jpg' %}" alt="">
                    </a>
                </div>

                <!-- <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="single-standard.html">December 10, 2017</a>
                        </div>
                        <h1 class="entry__title"><a href="single-standard.html">Visiting Theme Parks Improves
                                Your Health.</a></h1>

                    </div>
                    
                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="#">Health</a>
                            <a href="#">Lifestyle</a>
                        </span>
                    </div>
                </div> -->

            </article> <!-- end article -->

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% static 'home/media/images/thumbs/masonry/jump-400.jpg' %}" class="entry__thumb-link"
                        data-lity>
                        <img src="{% static 'home/media/images/thumbs/masonry/jump-400.jpg' %}" alt="">
                    </a>
                </div>

                <!-- <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="single-standard.html">December 10, 2017</a>
                        </div>
                        <h1 class="entry__title"><a href="single-standard.html">Create Meaningful Family
                                Moments.</a></h1>

                    </div>

                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="category.html">Family</a>
                            <a href="category.html">Relationship</a>
                        </span>
                    </div>
                </div> -->

            </article> <!-- end article -->

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% static 'home/media/images/thumbs/masonry/beetle-400.jpg' %}" class="entry__thumb-link"
                        data-lity>
                        <img src="{% static 'home/media/images/thumbs/masonry/beetle-400.jpg' %}" alt="">
                    </a>
                </div>

                <!-- <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="single-standard.html">December 10, 2017</a>
                        </div>
                        <h1 class="entry__title"><a href="single-standard.html">Throwback To The Good Old
                                Days.</a></h1>

                    </div>

                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="category.html">Lifestyle</a>
                        </span>
                    </div>
                </div> -->

            </article> <!-- end article -->

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% static 'home/media/images/thumbs/masonry/fuji-400.jpg' %}" class="entry__thumb-link"
                        data-lity>
                        <img src="{% static 'home/media/images/thumbs/masonry/fuji-400.jpg' %}" alt="">
                    </a>
                </div>

                <!-- <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="single-standard.html">December 10, 2017</a>
                        </div>
                        <h1 class="entry__title"><a href="single-standard.html">Just Another Standard Format
                                Post.</a></h1>

                    </div>

                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="category.html">Design</a>
                            <a href="category.html">Photography</a>
                        </span>
                    </div>
                </div> -->

            </article> <!-- end article -->

        </div> <!-- end masonry -->
    </div> <!-- end masonry-wrap -->

</section> <!-- s-content -->