{% load static %}
<!-- Follow Me Instagram Area Start -->
<section class="follow-me-instagram-area clearfix">
    <div class="container">
        <h3 style="text-align: center;">Our Studio - Instagram</h3>
    </div>
    <!-- Instagram Feeds Area -->
    <div class="instagram-feeds-area owl-carousel">
        <div class="single-instagram-feeds">
            <img src="{% static 'home/media/images/studio/bg-img/i1.jpg' %}" alt="">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="{% static 'home/media/images/studio/bg-img/i2.jpg' %}" alt="">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="{% static 'home/media/images/studio/bg-img/i3.jpg' %}" alt="">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="{% static 'home/media/images/studio/bg-img/i4.jpg' %}" alt="">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="{% static 'home/media/images/studio/bg-img/i5.jpg' %}" alt="">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="{% static 'home/media/images/studio/bg-img/i6.jpg' %}" alt="">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="{% static 'home/media/images/studio/bg-img/i7.jpg' %}" alt="">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
    </div>
</section>
<!-- Follow Me Instagram Area End -->