{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>lll Social - Home</title>
{% endblock %}

{% block meta %}
{% endblock %}

{% block studio-style %}
{% endblock %}

{% block styles %}
<!-- Main Stylesheets -->
<link rel="stylesheet" href="{% static 'home/css/style-slides.css' %}" />
{% endblock %}

{% block header-section %}
<!-- pageheader -->
<section class="s-pageheader">
    {% include "home/common/header.html" %}
</section> <!-- end s-pageheader -->
{% endblock %}

{% block content-section %}
<!-- hero Section end -->
<section class="hero-section" id="hero-section">
    <div class="pana-accordion" id="accordion">
        <div class="pana-accordion-wrap">
            <div class="pana-accordion-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/5.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
            <div class="pana-accordion-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/1.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
            <div class="pana-accordion-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/2.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
            <div class="pana-accordion-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/3.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
            <div class="pana-accordion-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/4.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider-warp">
        <div class="hero-slider owl-carousel">
            <div class="hero-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/5.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
            <div class="hero-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/1.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
            <div class="hero-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/2.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
            <div class="hero-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/3.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
            <div class="hero-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/4.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hero Section end -->
{% endblock %}

{% block extra-section %}
<!-- s-extra -->
<section class="s-extra">
    {% include "home/common/popular.html" %}
</section> <!-- end s-extra -->
{% endblock %}

{% block scripts-section %}
<script src="{% static 'home/js/pana-accordion.js' %}"></script>
<script src="{% static 'home/js/main-slides.js' %}"></script>
<!-- Show slideshow on Top -->
<script>
    $(function () {
        $('html, body').scrollTop($('.hero-section').offset().top)
    });
</script>

{% endblock %}