{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>lll Social - Home</title>
{% endblock %}

{% block meta %}
{% endblock %}

{% block style-top %}
{% endblock %}

{% block style-bottom %}
<link rel="stylesheet" href="{% static 'social/css/style-social.css' %}">
{% endblock %}

{% block header-section %}
<!-- pageheader -->
<section class="s-pageheader s-pageheader--home">
    {% include "home/common/header.html" %}
    {% include "home/common/home-social.html" %}
</section> <!-- end s-pageheader -->
{% endblock %}

{% block content-section %}
{% include "home/common/articles-grid.html" %}
{% endblock %}

{% block extra-section %}
<!-- s-extra -->
<section class="s-extra">
    {% include "home/common/tags.html" %}
    {% include "home/common/popular.html" %}
</section> <!-- end s-extra -->
{% endblock %}

{% block scripts-section %}
<script src="{% static 'social/js/script-social.js' %}"></script>
<script>
    $(document).ready(function () {
        $(".s-social .s-content__header").hide();
        $(".choose-category").show();
    });
</script>
{% endblock %}