{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>lll Social - Home</title>
{% endblock %}

{% block meta %}
{% endblock %}

{% block studio-style %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'social/css/style.css' %}">
{% endblock %}

{% block header-section %}
<!-- pageheader -->
<section class="s-pageheader s-pageheader--home">
    {% include "home/common/header.html" %}

    {% include "home/common/trending.html" %}
</section> <!-- end s-pageheader -->
{% endblock %}

{% block content-section %}
<!-- s-content -->
<section class="s-content">

    <div class="row">

        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                Writings
            </h1>
        </div> <!-- end s-content__header -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <a href="" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <div class="inner-content">
                                    <h3 class="title">Web Designing</h3>
                                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad
                                        adipisci culpa
                                        dolore explicabo fuga pariatur gjkfdgj quis reprehenderit tenetur vel!</p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="inner-content">
                                    <h3 class="title">Web Development</h3>
                                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad
                                        adipisci culpa
                                        dolore explicabo fuga pariatur gjkfdgj quis reprehenderit tenetur vel!</p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="inner-content">
                                    <h3 class="title">Web Development</h3>
                                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad
                                        adipisci culpa
                                        dolore explicabo fuga pariatur gjkfdgj quis reprehenderit tenetur vel!</p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="" class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="inner-content">
                                    <h3 class="title">Web Development</h3>
                                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad
                                        adipisci culpa
                                        dolore explicabo fuga pariatur gjkfdgj quis reprehenderit tenetur vel!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra-section %}
<!-- s-extra -->
<section class="s-extra">
    {% include "home/common/tags.html" %}
    {% include "home/common/popular.html" %}
</section> <!-- end s-extra -->
{% endblock %}

{% block scripts-section %}
{% endblock %}