{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>lll Writings - Home</title>
{% endblock %}

{% block meta %}
{% endblock %}

{% block studio-style %}
{% endblock %}

{% block styles %}
<!-- Main Stylesheets -->
<link rel="stylesheet" href="{% static 'writings/css/style-writings.css' %}" />
<link rel="stylesheet" href="{% static 'writings/css/pana-accordion.css' %}" />
<style>
    .compose-post.active a {
        background-color: #0054a5 !important;
    }

    .compose-article p.buttons {
        margin-top: 2rem;
        text-align: right;
    }

    .btn {
        line-height: 3 !important;
    }

    .compose-article {
        max-width: 80%;
        margin: 0 auto;
        padding-bottom: 3rem
    }

    @media only screen and (max-width:850px) {
        .compose-article {
            max-width: 90%;
        }
    }

    .s-content__header {
        padding-top: 3rem;

    }
</style>
{% endblock %}

{% block header-section %}
<!-- pageheader -->
<section class="s-pageheader">
    {% include "home/common/header.html" %}
</section> <!-- end s-pageheader -->
{% endblock %}

{% block content-section %}
<!-- hero Section end -->
<section class="hero-section" id="hero-section">
    <div class="pana-accordion" id="accordion">
        <div class="pana-accordion-wrap">
            <div class="pana-accordion-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/5.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
            <div class="pana-accordion-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/1.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
            <div class="pana-accordion-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/2.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
            <div class="pana-accordion-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/3.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
            <div class="pana-accordion-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/4.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider-warp">
        <div class="hero-slider owl-carousel">
            <div class="hero-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/5.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
            <div class="hero-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/1.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
            <div class="hero-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/2.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
            <div class="hero-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/3.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
            <div class="hero-item set-bg" data-setbg="{% static 'home/media/images/slides/hero/4.jpg' %}">
                <div class="pa-text">
                    <div class="pa-tag">people</div>
                    <h2>69 Flavio Burg Suite</h2>
                    <div class="pa-author">
                        <img src="{% static 'home/media/images/slides/hero/author.jpg' %}" alt="">
                        <h4>Arthur Rose</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- s-content -->
<section class="s-content">
    <div class="compose-article-wrapper">
        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                Compose Article
            </h1>
        </div>

        <div class="compose-article">
            <div class="editor">
                Awesome Title
            </div>
            <p class="buttons">
                <a class="btn btn--red" href="#0">Discard</a>
                <a class="btn btn--primary" href="#0">Save Article</a>
            </p>
        </div>
    </div>
    <div class="writings-timeline" id="writings-timeline">
        <div class="timeline-container" id="timeline-1">
            <div class="timeline-header">
                <h2 class="timeline-header__title">My Writings</h2>
                <h3 class="timeline-header__subtitle">Keep a diary and someday it'll keep you.</h3>
            </div>
            <div class="timeline">
                <div class="timeline-item" data-text="founder of SOS Children&amp;#x27;s Villages">
                    <div class="timeline__content"><img class="timeline__img"
                            src="{% static 'home/media/images/slides/gallery/6.jpg' %}" />
                        <h2 class="timeline__content-title">1919</h2>
                        <p class="timeline__content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                            faucibus justo nulla, sit amet molestie massa commodo sed. Quisque gravida diam lacus, vitae
                            posuere sem porttitor ac. Pellentesque ornare justo luctus, suscipit odio sit amet, aliquet
                            ante. Donec lobortis suscipit massa, in eleifend quam vestibulum id. Duis at molestie mi.
                            Integer sit amet sollicitudin neque. </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="LOREM IPSUM">
                    <div class="timeline__content"><img class="timeline__img"
                            src="{% static 'home/media/images/slides/gallery/7.jpg' %}" />
                        <h2 class="timeline__content-title">1893</h2>
                        <p class="timeline__content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                            faucibus justo nulla, sit amet molestie massa commodo sed. Quisque gravida diam lacus, vitae
                            posuere sem porttitor ac. Pellentesque ornare justo luctus, suscipit odio sit amet, aliquet
                            ante. Donec lobortis suscipit massa, in eleifend quam vestibulum id. Duis at molestie mi.
                            Integer sit amet sollicitudin neque.
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="LOREM IPSUM">
                    <div class="timeline__content"><img class="timeline__img"
                            src="{% static 'home/media/images/slides/gallery/8.jpg' %}" />
                        <h2 class="timeline__content-title">1905</h2>
                        <p class="timeline__content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                            faucibus justo nulla, sit amet molestie massa commodo sed. Quisque gravida diam lacus, vitae
                            posuere sem porttitor ac. Pellentesque ornare justo luctus, suscipit odio sit amet, aliquet
                            ante. Donec lobortis suscipit massa, in eleifend quam vestibulum id. Duis at molestie mi.
                            Integer sit amet sollicitudin neque.</p>
                    </div>
                </div>
                <div class="timeline-item" data-text="LOREM IPSUM">
                    <div class="timeline__content"><img class="timeline__img"
                            src="{% static 'home/media/images/slides/gallery/9.jpg' %}" />
                        <h2 class="timeline__content-title">1908</h2>
                        <p class="timeline__content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                            faucibus justo nulla, sit amet molestie massa commodo sed. Quisque gravida diam lacus, vitae
                            posuere sem porttitor ac. Pellentesque ornare justo luctus, suscipit odio sit amet, aliquet
                            ante. Donec lobortis suscipit massa, in eleifend quam vestibulum id. Duis at molestie mi.
                            Integer sit amet sollicitudin neque.</p>
                    </div>
                </div>
                <div class="timeline-item" data-text="LOREM IPSUM">
                    <div class="timeline__content"><img class="timeline__img"
                            src="{% static 'home/media/images/slides/gallery/10.jpg' %}" />
                        <h2 class="timeline__content-title">1915</h2>
                        <p class="timeline__content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                            faucibus justo nulla, sit amet molestie massa commodo sed. Quisque gravida diam lacus, vitae
                            posuere sem porttitor ac. Pellentesque ornare justo luctus, suscipit odio sit amet, aliquet
                            ante. Donec lobortis suscipit massa, in eleifend quam vestibulum id. Duis at molestie mi.
                            Integer sit amet sollicitudin neque.
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="LOREM IPSUM">
                    <div class="timeline__content"><img class="timeline__img"
                            src="{% static 'home/media/images/slides/gallery/11.jpg' %}" />
                        <h2 class="timeline__content-title">1916</h2>
                        <p class="timeline__content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                            faucibus justo nulla, sit amet molestie massa commodo sed. Quisque gravida diam lacus, vitae
                            posuere sem porttitor ac. Pellentesque ornare justo luctus, suscipit odio sit amet, aliquet
                            ante. Donec lobortis suscipit massa, in eleifend quam vestibulum id. Duis at molestie mi.
                            Integer sit amet sollicitudin neque.</p>
                    </div>
                </div>
                <div class="timeline-item" data-text="LOREM IPSUM">
                    <div class="timeline__content"><img class="timeline__img"
                            src="{% static 'home/media/images/slides/gallery/2.jpg' %}" />
                        <h2 class="timeline__content-title">1919</h2>
                        <p class="timeline__content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                            faucibus justo nulla, sit amet molestie massa commodo sed. Quisque gravida diam lacus, vitae
                            posuere sem porttitor ac. Pellentesque ornare justo luctus, suscipit odio sit amet, aliquet
                            ante. Donec lobortis suscipit massa, in eleifend quam vestibulum id. Duis at molestie mi.
                            Integer sit amet sollicitudin neque.</p>
                    </div>
                </div>
                <div class="timeline-item" data-text="LOREM IPSUM">
                    <div class="timeline__content"><img class="timeline__img"
                            src="{% static 'home/media/images/slides/gallery/3.jpg' %}" />
                        <h2 class="timeline__content-title">1920</h2>
                        <p class="timeline__content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                            faucibus justo nulla, sit amet molestie massa commodo sed. Quisque gravida diam lacus, vitae
                            posuere sem porttitor ac. Pellentesque ornare justo luctus, suscipit odio sit amet, aliquet
                            ante. Donec lobortis suscipit massa, in eleifend quam vestibulum id. Duis at molestie mi.
                            Integer sit amet sollicitudin neque.
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="LOREM IPSUM">
                    <div class="timeline__content"><img class="timeline__img"
                            src="{% static 'home/media/images/slides/gallery/4.jpg' %}" />
                        <h2 class="timeline__content-title">1922</h2>
                        <p class="timeline__content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                            faucibus justo nulla, sit amet molestie massa commodo sed. Quisque gravida diam lacus, vitae
                            posuere sem porttitor ac. Pellentesque ornare justo luctus, suscipit odio sit amet, aliquet
                            ante. Donec lobortis suscipit massa, in eleifend quam vestibulum id. Duis at molestie mi.
                            Integer sit amet sollicitudin neque.</p>
                    </div>
                </div>
                <div class="timeline-item" data-text="LOREM IPSUM">
                    <div class="timeline__content"><img class="timeline__img"
                            src="{% static 'home/media/images/slides/gallery/5.jpg' %}" />
                        <h2 class="timeline__content-title">1923</h2>
                        <p class="timeline__content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                            faucibus justo nulla, sit amet molestie massa commodo sed. Quisque gravida diam lacus, vitae
                            posuere sem porttitor ac. Pellentesque ornare justo luctus, suscipit odio sit amet, aliquet
                            ante. Donec lobortis suscipit massa, in eleifend quam vestibulum id. Duis at molestie mi.
                            Integer sit amet sollicitudin neque.</p>
                    </div>
                </div>
                <div class="timeline-item" data-text="LOREM IPSUM">
                    <div class="timeline__content"><img class="timeline__img"
                            src="{% static 'home/media/images/slides/gallery/6.jpg' %}" />
                        <h2 class="timeline__content-title">1934</h2>
                        <p class="timeline__content-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus justo nulla, sit
                            amet molestie massa commodo sed. Quisque gravida diam lacus, vitae posuere sem porttitor ac.
                            Pellentesque ornare justo luctus, suscipit odio sit amet, aliquet ante. Donec lobortis
                            suscipit massa, in eleifend quam vestibulum id. Duis at molestie mi. Integer sit amet
                            sollicitudin neque.
                            <i><strong>"Lorem Ipsum" (Neque porro quisquam est)</strong></i>
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="LOREM IPSUM">
                    <div class="timeline__content"><img class="timeline__img"
                            src="{% static 'home/media/images/slides/gallery/7.jpg' %}" />
                        <h2 class="timeline__content-title">1938</h2>
                        <p class="timeline__content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                            faucibus justo nulla, sit amet molestie massa commodo sed. Quisque gravida diam lacus, vitae
                            posuere sem porttitor ac. Pellentesque ornare justo luctus, suscipit odio sit amet, aliquet
                            ante. Donec lobortis suscipit massa, in eleifend quam vestibulum id. Duis at molestie mi.
                            Integer sit amet sollicitudin neque.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hero Section end -->
{% endblock %}

{% block extra-section %}
<!-- s-extra -->
<section class="s-extra">
    {% include "home/common/tags.html" %}
    {% include "home/common/popular.html" %}
</section> <!-- end s-extra -->
{% endblock %}

{% block scripts-section %}
<script src="{% static 'writings/js/pana-accordion.js' %}"></script>
<script src="{% static 'writings/js/main.js' %}"></script>
<!-- Show slideshow on Top -->
<script>
    $(function () {
        $('html, body').scrollTop($('.hero-section').offset().top)
    });
    $(function () {
        if (window.location.href.indexOf("/writings/#add-article") != -1) {
            $('.compose-article-wrapper').show('');
            $('html, body').scrollTop($('.compose-article-wrapper').offset().top)
        }
    });
</script>
<script>
    (function ($) {
        $.fn.timeline = function () {
            var selectors = {
                id: $(this),
                item: $(this).find(".timeline-item"),
                activeClass: "timeline-item--active",
                img: ".timeline__img"
            };
            selectors.item.eq(0).addClass(selectors.activeClass);
            selectors.id.css(
                "background-image",
                "url(" +
                selectors.item
                .first()
                .find(selectors.img)
                .attr("src") +
                ")"
            );
            var itemLength = selectors.item.length;
            $(window).scroll(function () {
                var max, min;
                var pos = $(this).scrollTop();
                selectors.item.each(function (i) {
                    min = $(this).offset().top;
                    max = $(this).height() + $(this).offset().top;
                    var that = $(this);
                    if (i == itemLength - 2 && pos > min + $(this).height() / 2) {
                        selectors.item.removeClass(selectors.activeClass);
                        selectors.id.css(
                            "background-image",
                            "url(" +
                            selectors.item
                            .last()
                            .find(selectors.img)
                            .attr("src") +
                            ")"
                        );
                        selectors.item.last().addClass(selectors.activeClass);
                    } else if (pos <= max - 40 && pos >= min) {
                        selectors.id.css(
                            "background-image",
                            "url(" +
                            $(this)
                            .find(selectors.img)
                            .attr("src") +
                            ")"
                        );
                        selectors.item.removeClass(selectors.activeClass);
                        $(this).addClass(selectors.activeClass);
                    }
                });
            });
        };
    })(jQuery);

    $("#timeline-1").timeline();
</script>
<script>
    if ($(window).width() < 770) {

        var itemsVar = [
            'heading',
            '|',
            'bold',
            'italic',
            'link',
            'blockQuote',
            'alignment',
            'indent',
            'bulletedList',
            'imageUpload',
            'insertTable',
            'undo',
            'redo',
            'codeBlock',
        ];
    } else {
        var itemsVar = [
            'heading',
            '|',
            'bold',
            'italic',
            'link',
            'fontFamily',
            'fontSize',
            'fontColor',
            'fontBackgroundColor',
            'subscript',
            'superscript',
            'underline',
            'strikethrough',
            'removeFormat',
            '|',
            'blockQuote',
            'alignment',
            'indent',
            'outdent',
            'bulletedList',
            'numberedList',
            'todoList',
            '|',
            'insertTable',
            'imageUpload',
            'mediaEmbed',
            'undo',
            'redo',
            '|',
            'codeBlock',
            'highlight',
            'pageBreak',
            'restrictedEditingException',
            'specialCharacters',
            'horizontalLine'
        ];
    }
    
    ClassicEditor
        .create(document.querySelector('.editor'), {
            toolbar: {
                items: itemsVar
            },
            width: 'auto',
            language: 'en',
            image: {
                toolbar: [
                    'imageTextAlternative',
                    'imageStyle:full',
                    'imageStyle:side'
                ]
            },
            table: {
                contentToolbar: [
                    'tableColumn',
                    'tableRow',
                    'mergeTableCells',
                    'tableCellProperties',
                    'tableProperties'
                ]
            },
            licenseKey: '',

        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(error => {
            console.error('Oops, CKEditor5!');
            console.error(error);
        });
</script>

{% endblock %}