{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Live, Laugh, Love! - Home</title>
{% endblock %}

{% block header-section %}
<!-- pageheader -->
<section class="s-pageheader s-pageheader--home">
    {% include "home/common/header.html" %}
    {% include "home/common/home-writings.html" %}
</section> <!-- end s-pageheader -->
{% endblock %}

{% block content-section %}
<div class="s-content">
    {% include "home/common/home-studio.html" %}
    {% include "home/common/home-feed.html" %}
    {% include "home/common/home-social.html" %}
</div>
{% endblock %}

{% block extra-section %}
<!-- s-extra -->
<section class="s-extra">
    {% include "home/common/tags.html" %}
    <!--Home - Unsplash Feed Start -->
    <section class="image-feed">
        <div class="container">
            <h3 style="text-align: center;">Top Snaps - Unsplash</h3>
        </div>
        <div class="image-feeds-area owl-carousel">
            <div class="single-image-feeds">
                <img src="{% static 'home/media/images/studio/bg-img/i1.jpg' %}" alt="">
                <a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a>
            </div>
            <div class="single-image-feeds">
                <img src="{% static 'home/media/images/studio/bg-img/i2.jpg' %}" alt="">
                <a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a>
            </div>
            <div class="single-image-feeds">
                <img src="{% static 'home/media/images/studio/bg-img/i3.jpg' %}" alt="">
                <a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a>
            </div>
            <div class="single-image-feeds">
                <img src="{% static 'home/media/images/studio/bg-img/i4.jpg' %}" alt="">
                <a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a>
            </div>
            <div class="single-image-feeds">
                <img src="{% static 'home/media/images/studio/bg-img/i5.jpg' %}" alt="">
                <a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a>
            </div>
            <div class="single-image-feeds">
                <img src="{% static 'home/media/images/studio/bg-img/i6.jpg' %}" alt="">
                <a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a>
            </div>
            <div class="single-image-feeds">
                <img src="{% static 'home/media/images/studio/bg-img/i7.jpg' %}" alt="">
                <a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>  <!--Home - Unsplash Feed End -->
    {% include "home/common/popular.html" %}
</section> <!-- end s-extra -->
{% endblock %}

{% block scripts-section %}
<script>
    $(document).ready(function () {
        $(".compose-post").show();
        $(".s-writings .s-content__header").hide();
    });
</script>
{% endblock %}