{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Live, Laugh, Love! - Home</title>
{% endblock %}

{% block header-section %}
<!-- pageheader -->
<section class="s-pageheader s-pageheader--home">
    {% include "home/common/header.html" %}

    {% include "home/common/trending.html" %}
</section> <!-- end s-pageheader -->
{% endblock %}

{% block content-section %}
{% include "home/common/articles-grid.html" %}
{% endblock %}

{% block extra-section %}
<!-- s-extra -->
<section class="s-extra">
    {% include "home/common/tags.html" %}
    {% include "home/common/popular.html" %}
</section> <!-- end s-extra -->
{% endblock %}

{% block scripts-section %}
<script>
    $(document).ready(function(){
        $(".compose-post").show();
    });
</script>
{% endblock %}