{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>lll Feed - Home</title>
{% endblock %}

{% block meta %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'feed/css/style.css' %}" />
{% endblock %}

{% block header-section %}
<!-- pageheader -->
<section class="s-pageheader s-pageheader--home">
    {% include "home/common/header.html" %}

    {% include "home/common/trending.html" %}
</section> <!-- end s-pageheader -->
{% endblock %}

{% block content-section %}
<!-- s-content -->
<section class="s-content">

    <div class="row">

        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                Feed Home
            </h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">2017</span>
                        <div class="timeline-content">
                            <span class="icon fa fa-globe"></span>
                            <h3 class="title">Web Desginer</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
                                pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis
                                magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam
                                accumsan ornare posuere.
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">2016</span>
                        <div class="timeline-content">
                            <span class="icon fa fa-rocket"></span>
                            <h3 class="title">Web Developer</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
                                pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis
                                magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam
                                accumsan ornare posuere.
                            </p>
                        </div>
                    </div>

                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">2016</span>
                        <div class="timeline-content">
                            <span class="icon fa fa-rocket"></span>
                            <h3 class="title">Web Developer</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
                                pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis
                                magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam
                                accumsan ornare posuere.
                            </p>
                        </div>
                    </div>

                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">2016</span>
                        <div class="timeline-content">
                            <span class="icon fa fa-rocket"></span>
                            <h3 class="title">Web Developer</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
                                pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis
                                magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam
                                accumsan ornare posuere.
                            </p>
                        </div>
                    </div>

                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">2016</span>
                        <div class="timeline-content">
                            <span class="icon fa fa-rocket"></span>
                            <h3 class="title">Web Developer</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
                                pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis
                                magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam
                                accumsan ornare posuere.
                            </p>
                        </div>
                    </div>

                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">2016</span>
                        <div class="timeline-content">
                            <span class="icon fa fa-rocket"></span>
                            <h3 class="title">Web Developer</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
                                pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis
                                magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam
                                accumsan ornare posuere.
                            </p>
                        </div>
                    </div>

                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">2016</span>
                        <div class="timeline-content">
                            <span class="icon fa fa-rocket"></span>
                            <h3 class="title">Web Developer</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
                                pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis
                                magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam
                                accumsan ornare posuere.
                            </p>
                        </div>
                    </div>

                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">2016</span>
                        <div class="timeline-content">
                            <span class="icon fa fa-rocket"></span>
                            <h3 class="title">Web Developer</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
                                pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis
                                magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam
                                accumsan ornare posuere.
                            </p>
                        </div>
                    </div>

                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">2016</span>
                        <div class="timeline-content">
                            <span class="icon fa fa-rocket"></span>
                            <h3 class="title">Web Developer</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id
                                pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis
                                magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam
                                accumsan ornare posuere.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section> <!-- s-content -->
{% endblock %}

{% block extra-section %}
{% endblock %}

{% block scripts-section %}
{% endblock %}