{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>lll Feed - Home</title>
{% endblock %}

{% block meta %}
{% endblock %}

{% block style-top %}
<link rel="stylesheet" href="{% static 'feed/css/style-feed.css' %}">
{% endblock %}

{% block style-bottom %}
<style>
    .choose-category.active a {
        background-color: #0054a5 !important;
    }
</style>
{% endblock %}

{% block header-section %}
<!-- pageheader -->
<div class="s-pageheader s-pageheader--home">
    {% include "home/common/header.html" %}
    {% include "home/common/home-feed.html" %}
</div> <!-- end s-pageheader -->
{% endblock %}

{% block content-section %}
{% include "home/common/articles-grid.html" %}
{% endblock %}

{% block extra-section %}
<!-- s-extra -->
<section class="s-extra">
    {% include "home/common/tags.html" %}
    {% include "home/common/popular.html" %}
</section> <!-- end s-extra -->
{% endblock %}

{% block scripts-section %}
<script src="{% static 'feed/js/script-feed.js' %}"></script>
<!-- Show slideshow on Top -->
<script>
    $(document).ready(function () {
        $(".s-feed .s-content__header").hide();
        $(".choose-category").show();
    });
</script>
{% endblock %}