{% load static %}

<head>
    <!--- basic page needs -->
    <meta charset="utf-8">
    <title>Live, Laugh, Love!</title>
    <meta name="The Begining, The Eurrent, The End!" content="">
    <meta name="Venkata Rakesh Anne" content="">

    <!-- mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/main.css' %}">
    {% include "common/style.html" %}

    <!-- script -->
    <script src="{% static 'home/js/modernizr.js' %}"></script>
    <script src="{% static 'home/js/pace.min.js' %}"></script>

    <!-- favicons -->
    <link rel="shortcut icon" href="{% static 'home/media/images/lll-logo-inv.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'home/media/images//lll-logo-inv.png' %}" type="image/x-icon">
</head>